.add-container {
  position: relative;
  top: 25vh;
  left: 33vw;
  width: 35vw;
  height: 33vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#add-btn {
  position: relative;
  top: 3vh;
  left: 22%;
  width: 20vw;
  color: white;
  background-color: rgb(196,49,39);
}

#add-input-email {
  margin-bottom: 4vh;
}

#add-input-password {
  margin-bottom: 2vh;
}

.ui.radio.checkbox {
  position: relative;
  left: 8vw;
}

.ui.button{
  border-radius: 0px;
}