.add-container {
  position: relative;
  top: 25vh;
  left: 33vw;
  width: 35vw;
  height: 33vh;
  border: 2px solid black;
}

#add-btn {
  position: relative;
  top: 4.8vh;
  left: 7vw;
  width: 20vw;
}

#add-input-email {
  margin-bottom: 4vh;
}

#add-input-signupCode {
  margin-bottom: 2vh;
}

.ui.radio.checkbox {
  position: relative;
  left: 8vw;
}

.ui.negative.button{
  border-radius: 0px;
}