.add-container {
  position: relative;
  top: 40vh;
  left: 33vw;
  width: 35vw;
  height: 35vh;
  border: 2px solid black;
}

#add-btn {
  position: relative;
  top: 5vh;
  left: 13vw;
}

#add-input-email {
  margin-bottom: 4vh;
}

#add-input-signupCode {
  margin-bottom: 2vh;
}

.ui.radio.checkbox {
  position: relative;
  left: 8vw;
}