#bid-component-container {
  position: relative;
  left: 10%;
  width: 100%;
  height: 100%;
}

#bid-container {
  position: relative;
  height: 40vh;
  overflow: auto;
  margin-top: 20px;
  top: 15%;
  width: 61%;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin-left: 10%
}


#bid-table-container {
  position: relative;
  top: 0%;
  margin-left: 0;
  width: 100%;
  height: 80%;
}
#campaign-config-heading {
  position: relative;
  display: flex;
  left: 36%;
  font-size: 300%;
  top: 2%;
}

.ui.table thead th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

tbody > tr:nth-child(even) {
  background: rgb(248,249,250);
}

