#block-component-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 90%;
  margin-left: 10%;

}

#block-container {
  position: relative;
  margin-left: 0%;
  margin-top: 0%;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
}


.individual-block {
   display: inline-flex;
   flex-direction: row;
   padding-top: 5%;
   width: 100%;
}

/* .block-checkbox {
  position: relative;
  margin-left: 80%;
  padding-top: 5%;
} */

#campaign-config-heading {
  position: relative;

}

#block-table-container {
  position: relative;
  top: 10%;
  margin-left: 4%;
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  height: 68%;
  overflow: auto;
}

.block-table-header-row{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

#block-table-head-row-name{
  flex-grow: 1;
}

#block-table-head-row-checkbox{
  flex-grow: .07;
}

.block-name{
  flex-grow: 1;
}

.block-checkbox{
  flex-grow: .25;
}