#create-campaign-menu-wrapper {
  position: relative;
  left: 0vw;
  width: 100%;
  height: 100%;
  width: 100%;
}



.create-campaign-wrapper {
  position: relative;
  left: 13vw;
  top: 28vh;
  width: 78vw;
  height: 50vh;
  border: 1px black solid;
}

#campaign-config-heading {
  position: absolute;
  left: 11vw;
}


/* @media only screen and (min-width : 980px) {
  #campaign-config-heading {
    position: absolute;
    left: 16vw;
  }
   */
/* } */

@media only screen and (max-width : 1500px) {
  #campaign-config-heading {
    position: absolute;
    left: 16vw;
  }
  
}