.create-campaign-menu-wrapper {
  position: relative;
  left: 1vw;
  top: 4vh;
  width: 76vw;
}


.create-campaign-wrapper {
  position: relative;
  left: 13vw;
  top: 28vh;
  width: 78vw;
  height: 50vh;
  border: 1px black solid;
}

#campaign-config-heading {
  position: absolute;
  left: 13vw;
}


@media only screen and (min-width : 980px) {
  #campaign-config-heading {
    position: absolute;
    left: 16vw;
  }
  
}

@media only screen and (min-width : 1400px) {
  #campaign-config-heading {
    position: absolute;
    left: 13vw;
  }
  
}