#creative-assets-container {
  position: relative;
  display: inline;
  top: 15vh;
  left: 20vw;
}

#delete-headline{
  position: relative;
  left: 10vw;
}

#img-container {
  position: relative;
  display: flex;
  left: 34vw;
  bottom: 12vh;
  height: 60vh;
  width: 35vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 32px;
}



.headline-input {
  width: 5vw
}

#creatives-heading {
  position: absolute;
  left: 13vw;
}

@media only screen and (min-width : 980px) {
  #creatives-heading {
    position: absolute;
    left: 16vw;
  }
  
}

@media only screen and (min-width : 1400px) {
  #creatives-heading {
    position: absolute;
    left: 13vw;
  }
}