/* Temporary style for standin sign until dashboard is filled out */
#dashboard-container {
  position: relative;
  top: 50vh;
  left: 30%;
  font-size: 30px;
}

#create-campaign-btn {
  position: relative;
  top: 34vh;
  left: 89%;
}