/* .form-container {
  position: relative;
  left: 10vw;
  top: 18vh;
  display: flex;
  flex-direction: row;
}

#campaign-configuration {
  position: relative;
  left: 16vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 50vh;
}

#campaign-type {
  position: relative;
  left: 38vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 19vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
}

.campaign-btn {
  position: relative;
  top: 3vh;
  height: 5vh;
  margin: 5px;
  width: 10vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 59vh;
  left: 30.50vw;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}

.button-container-2 {
  left: 20.50vw;
  position: absolute;
  top: 62vh;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}

#ob-tag {
  position: relative;
  left: 19vw;
  top: 40vh;
  display: flex;
  flex-direction: column;
  width: 19vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 11vh;
}



@media only screen  and (min-width : 1224px) {
  
} */

/* ReFactor -- Large Screen out*/
.form-container {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0vw;
  font-family: "Arial", Gadget, sans-serif;
}

#campaign-configuration {
  position: relative;
  left: 15.5vw;
  top: 8vh;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 22vh;
  width: 39vw;
}

.config-inputs {
  width: 18vw;
}

#media-buyer {
  position: relative;
  left: 30vw;
  width: 8vw;
}

#url{
  position: absolute;
  top: 0.5vh;
}

#campaign-name {
  position: relative;
  top: 1.5vh;
}

#branding-text{
  position: relative;
  left: 0vw;
  top: 2.5vh
}

#country{
  position: relative;
  z-index: 1;
  flex-direction: column;
  width: 11vw;
  height: 1vh;
  left: 27vw;
  bottom: 1vh;
}


.radios{
  position: absolute;
  top: 10vh;
}

#content{
  right: 1vw;
}

#search{
  right: 6vw;
}

#gen-form-labels {
  margin-bottom: 3vh;
}

#selection-container {
  overflow-y: scroll;
}

/* Platform Configuration */
#platform-setting-container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 50%;
  top: 34%;
  right: 17vw;
  height: 41vh;
}

/* Logos */
.platform-logos{
  position: relative;
  height: 25%;
  width: 35%;
  margin-left: 33%;
  margin-top: 3%;
  margin-bottom: 0%;
}

/* img#Taboola{}
img#Outbrain{}
img#Yahoo{} */
img#Rev-Content{
  height: 40%;
  width: 50%;
  margin-left: 28%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.platform-obj-container{
  position: relative;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-right: 2vw;
  width: 17%;
}

.platform-obj {
  /* align-self: auto;
  flex-shrink: 0; */
  flex: 1 0 auto;  /* margin: 0px 10px 0px 10px; */
  padding: 0;
  margin: 0;
}

.platform-input-container{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1vh;
}

.platform-obj-device-elements{
  margin-bottom: 2%;
  font-weight: bold;
}

.ui.segment {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 0;
  padding: 1%;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
  height: 2%;
}
#platform-config-device {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cpc-label{
  font-family: "Arial", Gadget, sans-serif;
  font-weight: initial;
}

.campaign-type{
  top: 0vh;
  height: 1vh;
}

.campaign-cpc {
  position: relative;
  top: 0%;
  margin-left: 2%;
  display: inline;
}

#type-safe {
  right: 2vw;
  height: 1vh;
}

#type-regular{
    right: 8vw;
    height: 1vh;
}

.config-by-platform {
  display: inline;
  position: relative;
  left: 3vw;
  top: 0vh;
  padding-right: 3vw;
}

.platform-input {
  /* width: 3vw;
  position: relative;
  top: 0vh; */
  padding: 0vw;
}

/* Campaign Buttons */
.button-container {
  position: absolute;
  top: 86vh;
  left: 35.50vw;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}

.campaign-btn {
  position: relative;
  top: 3vh;
  height: 5vh;
  margin: 5px;
  width: 10vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button-container-2 {
  left: 18.50vw;
  position: absolute;
  top: 70vh;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}
















/* Laptop Screen */
@media (max-width: 1500px){
  #campaign-configuration {
    position: relative;
    left: 17.5vw;
    top: 8.5vh;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 8px;
    height: 27vh;
    width: 43vw;
  }

  #country {
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 11vw;
    height: 1vh;
    left: 28vw;
    bottom: 2.5vh;
  }

  #media-buyer {
    position: relative;
    left: 33.5vw;
    width: 8vw;
  }

  .radios {
    position: absolute;
    top: 12vh;
  }

  #search {
    right: 7vw;
  }

  #platform-setting-container {
    display: inline-flex;
    width: 54vw;
    position: relative;
    top: 39.5vh;
    right: 15vw;
    height: 42vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .campaign-cpc {
    position: relative;
    top: 2vh;
    left: 1vw;
    width: 0vw;
    margin-right: 10vw;
  }

  .platform-obj {
    border-right: solid;
    border-right-width: thin;
    text-align: center;
    align-content: center;
    width: 14vw;
    flex-shrink: 0;
  }

  #platform-input-container{
    position: relative;
    left: 0vw;
    display: inline-flex;
    
  }

  .platform-input {
    width: 8vw;
    position: relative;
    top: 0vh;
  }

  .platform-obj-device-elements{
    /* flex-direction: column; */
    margin-bottom: 2%;

  }

  .config-by-platform {
    display: inline;
    position: relative;
    left: 1vw;
    top: 0vh;
    padding-right: 3vw;
  }

  #tab-daily-cap{
    width: 8vw;
  }

  /* Campaignn Buttons */
  .button-container {
    position: absolute;
    top: 84vh;
    left: 38.5vw;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 26vw;
}
}

