/* .form-container {
  position: relative;
  left: 10vw;
  top: 18vh;
  display: flex;
  flex-direction: row;
}

#campaign-configuration {
  position: relative;
  left: 16vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 50vh;
}

#campaign-type {
  position: relative;
  left: 38vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 19vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
}

.campaign-btn {
  position: relative;
  top: 3vh;
  height: 5vh;
  margin: 5px;
  width: 10vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 59vh;
  left: 30.50vw;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}

.button-container-2 {
  left: 20.50vw;
  position: absolute;
  top: 62vh;
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 26vw;
}

#ob-tag {
  position: relative;
  left: 19vw;
  top: 40vh;
  display: flex;
  flex-direction: column;
  width: 19vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 11vh;
}



@media only screen  and (min-width : 1224px) {
  
} */


/* flex-direction: row; */
.form-container {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0vw;
  font-family: "Arial", Gadget, sans-serif;
}

#campaign-configuration {
  position: relative;
  left: 15.5vw;
  top: 9vh;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 22vh;
  width: 39vw;
}

.config-inputs {
  width: 18vw;
}

#media-buyer {
  position: relative;
  left: 30vw;
  width: 8vw;
}

#url{
  position: absolute;
  top: 0.5vh;
}

#campaign-name {
  position: relative;
  top: 1.5vh;
}

#branding-text{
  position: relative;
  left: 0vw;
  top: 2.5vh
}

#country{
  position: relative;
  z-index: 1;
  flex-direction: column;
  width: 11vw;
  height: 1vh;
  left: 27vw;
  bottom: 1vh;
}


.radios{
  position: absolute;
  top: 10vh;
}

#content{
  right: 1vw;
}

#search{
  right: 6vw;
}

#gen-form-labels {
  margin-bottom: 3vh;
}

#selection-container {
  overflow-y: scroll;
}

